[Desktop Entry]
Encoding=UTF-8
Name=Link to d7c06c7880e57440d11129e36bd4ff0b--nipon-japan-travel.jpg (425×425)
Type=Link
URL=https://i.pinimg.com/736x/d7/c0/6c/d7c06c7880e57440d11129e36bd4ff0b--nipon-japan-travel.jpg
Icon=image-jpeg
