[Desktop Entry]
Encoding=UTF-8
Name=Link to latest (408×296)
Type=Link
URL=https://vignette.wikia.nocookie.net/yandere-simulator/images/a/a3/Wendy's.png/revision/latest?cb=20170802202854
Icon=image-png
