[Desktop Entry]
Encoding=UTF-8
Name=Link to person-dummy.jpg (640×640)
Type=Link
URL=http://www.londondentalsmiles.co.uk/wp-content/uploads/2017/06/person-dummy.jpg
Icon=image-jpeg
