[Desktop Entry]
Encoding=UTF-8
Name=Link to sad_ronald_mcdonald.jpg (660×371)
Type=Link
URL=http://laborunionreport.com/wp-content/uploads/2013/07/sad_ronald_mcdonald.jpg
Icon=image-jpeg
